################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/WeekDayWebApplication/.vs/WeekDayWebApplication/v16
