################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/WeekDayWebApplication/.vs/WeekDayWebApplication/v16
/src/WeekDayWebApplication/.vs
/src/WeekDayWebApplication/WeekDayWebApplication/bin
/src/WeekDayWebApplication/WeekDayWebApplication/obj

/src/WeekDayWebApplication/WeekDayWebApplication/WeekDayWebApplication.csproj.user
/src/WeekDayWebApplication/WeekDayWebApplication/Properties/PublishProfiles
