
    <div class="container">

        <h2>Current Directory</h2>
        @ViewData["CurrentDirectory"]

        <h2>Request Path</h2>
        @ViewData["RequestPath"]

        <h2>Open Data.txt</h2>
        <a href="../../Data.txt">Data.txt</a>
    </div>




